html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #111;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  background: #000;
  position: fixed;
}

@media screen and (orientation:portrait) {
  canvas {
    width: 100%;
    top: 50vh;
    transform: translateY(-50%);
  }
}

@media screen and (orientation:landscape) {
  canvas {
    height: 100%;
    left: 50vw;
    transform: translateX(-50%);
  }
}

#buttons {
  position: fixed;
  right: 0;
  top: 0;
}

button {
  cursor: pointer;
  background: #444;
  color: #fff;
  padding: 1em;
  font-family: monospace;
  border: none;
  outline: none;
}

#stats:not(:empty) {
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  color: #0f0;
  padding: 1em;
  font-family: monospace;
}

#error:not(:empty) {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #f00;
  color: #fff;
  padding: 1em;
  font-family: monospace;
}

.selected-area {
  position: fixed;
  outline: 1px solid #444;
  background: #080;
  opacity: 0.2;
}
