body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

#fft {
  position: fixed;
  width: 100%;
  height: 100%;
}

#buttons {
  position: fixed;
  left: 0;
  top: 0;
}

#buttons button {
  padding: 0;
  width: 2em;
  height: 2em;
  margin: 0.5em;
  font-weight: bold;
  border: 1px solid #888;
  cursor: pointer;
}

#vtimebar {
  position: fixed;
  width: 1px;
  height: 100%;
  top: 0;
  background: #0f0;
  visibility: hidden;
}